.search-container{
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    align-content: center;
}

.input-field{
    border: none;
    border: solid 1px;
    width: 400px;
    height: 29px;
    border-radius: 7px;
    margin-right: 4px; 
    padding-left: 4px;
}

.search-logo{
    height: 29px;
    width: 60px;
    display: flex;
    align-items: center;
}

.search-logo img{
    height: 29px;
    width: 50px;
}

