.main{
    background-image: url('../../images/movie_craeteAccount.jpg');
    background-size: cover;
    height: 100vh;
}

form{

    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    width: 279px;
    margin: 20px auto;
    /* background-color: red; */
}

.input-rows{
    display: flex;
    flex-direction: column;
}

.input-row{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 243px;
    display: flex;
    justify-content: space-between;
}

.input-row input{
    border-radius: 10px;
    border-color: black;
}